name: Cache Prime Workflow

on:
  push:
    branches:
      - main

jobs:
  cache-job:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Cache dependencies
        id: cache-step
        uses: actions/cache@v4
        with:
          path: ~/.cache
          key: cache-424c00d

      - name: prime-cache-424c00d
        run: |
          echo "Cache hit status: ${{ steps.cache-step.outputs.cache-hit }}"
